/*
Tic Tac Toe
Author : Joe Marcotte
Date: 5/24/2022
*/

* {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}
/*styling for title*/
.title-frame{
  display: flex;
  align-items: center;
  justify-content: center;
}
.title{
  background-color: coral;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .4em 1em;
  box-shadow: 5px 5px 5px #8c7c9a;
}
/*Styling for tic tac toe grid boxes*/
.box {
  height: 100px;
  width: 100px;
  border: 3px solid;
  font-size: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Styling for tic tac toe grid container*/
.game-area {
  display: grid;
  grid-template-columns: repeat(3, auto);
  max-width: min-content;
  margin: auto;
  padding: 20px;
  cursor: pointer;
}

/*Styling for reset buttton*/
.reset-btn {
  height: 3em;
  width: 6em;
  font-size: 1.5em;
  margin-top: 1em;
  background-color: gold;
  border-radius: 8%;
}

/*Styling for displaying who won to the user*/
.results-box{
    height : 2em;
    width: 100%;
    background-color: coral;
    box-shadow: 5px 5px 5px #8c7c9a;
    margin-top: 1em;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Syling to remove border around the tic tac toe container*/
.box:nth-child(-n + 3) {
  border-top: none;
} 
.box:nth-child(3n) {
  border-right: none;
}
.box:nth-child(3n  - 2) {
  border-left: none;
} 
.box:nth-child(n + 7) {
  border-bottom: none;
}
